<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/AdminDhash.css">
    <link rel="stylesheet" href="../css/Request.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/Request.css">
    
    <title>Request </title>
</head>
<body>
    <header id="header" style="justify-content: space-between;">
        <div class="logo">
             <img src="../images/Logo.jpg" height="80px">
         </div> 
      </header>

        <div class="requests logInForm LogoutNotification" id="request">
            <div class="popUpFormContent2" >
                <div class="requestBoxContent">
                     <p> <strong>request details </strong> </p>
                     <div class="tableContent">
                        <table>
                          {{# each xx}}
                              <tr >
                                <td class="firstD">student id</td>
                                <td>{{this.[2]}}</td>
                              </tr>
                              <tr>
                                <td class="firstD"> student name</td>
                                <td>{{this.[3]}} </td>
                              </tr>
                              <tr>
                                <td class="firstD">request type</td>
                                <td> {{this.[4]}} </td>
                              </tr>
                              <tr>
                                <td class="firstD">request details</td>
                                <td> change major from <span style="color: red;">{{this.[0]}} </span>to <span style="color: blue;">{{this.[1]}}</span> </td>
                              </tr>
                              {{/ each}}
                          </table>
                      </div>
                      <div class="choise">
                        <form action="/accept/1" method="get">

                          <button  type="submit" value="1" class="view_order accept">accept</button>
              
                        </form>

                        <form action="/decline/0" method="get">
                          
                          <button  type="submit" value="0" class="view_order decline">decline</button>
                         
                        </form>

                        <form action="/cansle/-1" method="get">

                          <button  type="submit" value="-1" class="view_order">cancel</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="success logInForm LogoutNotification" id="success">
            <div class="popUpFormContent">
                <div>
                    <img src="../../../images/bell.png" height="20px">
                    <p> accept request </p>
                    <a style="color: white; cursor: pointer;" onclick="active(success)"> ok</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/index.js"></script>

</body>
</html>